<!-- <div *ngIf="su == 0"> -->

	<div class="nav">
		<ul>
			<li style="float:right"><a [routerLink]="['/login']">Log in</a></li>
		</ul>
	</div>

	<br>
  <div class="container">
  <h1 class = "title">Registration</h1>

	<form (submit)="signup($event, username.value, email.value, email2.value, password.value)">

		<div class="register">
		  <br>
			<label>Username</label>
			<br>
			<input type="text" #username placeholder="Username">
			<p style="color: #636c72; margin: auto;"><small>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small></p>
			<div style="margin-top: 10px;" *ngIf="usernameError">
				<span *ngFor="let error of usernameError">
					{{ error }}
				</span>
			</div>
		</div>

		<div class="register">
		  <br>
			<label>Email Address</label>
			<br>
			<input type="text" #email placeholder="Email">
			<div style="margin-top: 10px;" *ngIf="emailError">
				<span *ngFor="let error of emailError">
					{{ error }}
				</span>
			</div>
		</div>


		<div class="register">
		  <br>
			<label>Confirm Email</label>
			<br>
			<input type="text" #email2 placeholder="Email">
			<div style="margin-top: 10px;" *ngIf="email2Error">
				<span *ngFor="let error of email2Error">
					{{ error }}
				</span>
			</div>
		</div>

		<div class="register">
		  <br>
			<label class="form-label" for="password">Password</label>
			<br>
			<input type="password" #password placeholder="Password">
			<div style="margin-top: 10px;" *ngIf="passwordError">
				<span *ngFor="let error of passwordError">
					{{ error }}
				</span>
			</div>
		</div>
		<div class="submit">
		<br>
		<button type="submit">Submit</button>
		</div>

	</form>
</div>