<div class="login-container">

	<h1>{{ title }}</h1>

	<form role="form" (submit)="login($event, username.value, password.value)">
		<label class="form-label" for="username">Username</label>
		<input type="text" #username class="form-control" id="username">
		<div style="margin-top: 10px;" *ngIf="usernameError" class="alert alert-danger" role="alert">	
			<span *ngFor="let error of usernameError">
				{{ error }}
			</span>
		</div>

		<label class="form-label" for="password">Password</label>
		<input type="password" #password class="form-control" id="password">
		<div style="margin-top: 10px;" *ngIf="passwordError" class="alert alert-danger" role="alert">	
			<span *ngFor="let error of passwordError">
				{{ error }}
			</span>
		</div>
		<div style="margin-top: 10px;" *ngIf="nonFieldError" class="alert alert-danger" role="alert">	
			<span *ngFor="let error of nonFieldError">
				{{ error }}
			</span>
		</div>
		<button type="submit" class="btn btn-default float-left" [routerLink]="['/signup']">Submit</button>
<!-- 		<a class="float-right" [routerLink]="['/signup']">Click here to signup</a> -->
	</form>

</div>