{% load staticfiles %}
<html>
    <head>
	    <title>Find A Friend</title>
        

    </head>
    <body>
         <div class="page-header">
            <h1 align="center"><a href="/">Find A Friend!</a></h1>
        </div>
        <div class="nav">
            {% if user.is_authenticated %}
                <!--<div class="top-menu"><a href="{% url 'logout' %}">Log out</a></div>-->
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
