{% extends "findafriend/base.html" %}

{% block content %}

	<style>
	body{
	background-color: lightblue;
	}
	</style>

	<h1 align="center" style="font-size: 55px;font-family:Impact">Welcome to Find a Friend!</h1>

	{%if user.username %}
	<p align="center" style="font-size: 20px;font-family:Comic Sans MS">Hello {{user.username}}!</p>
	<p align="center"><a href="editProfile" style="text-decoration:none">Update User Profile</a></p>
	<p align="center"><a href="accounts/logout" style="text-decoration:none">Log Out</a></p>

	{% else %}
	<p align="center"><a href="accounts/login" style="text-decoration:none">Click here to login</a></p>
	<p align="center"><a href="accounts/signup" style="text-decoration:none">Click here to sign up</a></p>
	<p align="center"><a href="newGroup" style="text-decoration:none">Click here to make a new group</a></p>
	{% endif %}
{% endblock %}
