{% extends "findafriend/base.html" %}

{% block content %}
<head>
<style>
	header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
</style>
</head>
	{% for profile in user.userprofile_set.all %}
		 {{profile.university}}
	{% endfor %}
	
	<header>
	<h1>Profile</h1>
	</header>

	<p align="center" style="font-size: 20px;font-family:Impact"> Username: {{ user.username }} </p>
	<p align="center" style="font-size: 20px;font-family:Impact"> First name: {{ user.first_name }} </p>
	<p align="center" style="font-size: 20px;font-family:Impact"> Last name: {{ user.last_name }} </p>
	<p align="center" style="font-size: 20px;font-family:Impact"> Email: {{ user.email }} </p>
	<p align="center" style="font-size: 20px;font-family:Impact"> University: {{ user.user.university }} </p>
	<p align="center" style="font-size: 20px;font-family:Impact"> Hometown: {{ user.user.hometown }}</p>



{% endblock %}
