<!--<h1>{{title}}</h1>-->
<!--<app-groups></app-groups>-->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
	<!-- <div *ngIf="username">
	<div class="nav">
		<ul>
			<li style="float:right"><a (click)="su = 1">Register</a></li>
		</ul>
	</div> -->
<!-- 
	<div class="nav">
		<ul>
  			<li><a (click) ="showUsers()">User</a></li>
			<li><a (click)="showGroups()">Groups</a></li>
			<li style="float:right"><a style="cursor: pointer" routerLink="/login">Log out</a></li>
		</ul>
	</div> -->