<div class="detail" *ngIf="group">

  <h2>"{{ group.title }}"</h2>
  <h3> By {{group.creator}} </h3>
  <br>
	<div> Created: {{group.timeCreated | date }}</div>
	<div> Type: {{group.typeOfGroup}}</div>
	<h4  (click)="seeMembers($event.target)" id="memButton"> Other Members (Show)</h4>
	<div *ngIf="showMembers">
		<div class="members" *ngFor="let mem of group.members">
			<div *ngIf="mem.username !=username"> {{mem.username}}</div>
		</div>		
	</div>


	<p > Description: {{group.description}}</p>

	<div *ngIf="inGroup==true  && group.creator!=username">
		<button (click)="leaveGroup()">Leave Group</button>
	</div>
	
	<div *ngIf="inGroup==false && group.creator!=username">
		<button (click)="joinGroup()">Join Group</button>
	</div>

	

	<div *ngIf="group.creator==username">
		<button *ngIf="updateSee==null" (click)="updateClicked()">Update Group</button>
		<button *ngIf="updateSee" (click)="updateClicked()">Close Update Group</button>
		<button (click)="deleteGroup()">Delete Group</button>
		

		<form *ngIf= "updateSee" (submit)="updateGroup($event, typeOfGroup.value, description.value)">
			<!-- Type of group -->
	    <div class="form-group">
				<label>Type of Group</label>
			  <select name="type_of_group" #typeOfGroup>
	        <option value="Sport">Sport</option>
	        <option value="Academic">Academic</option>
	        <option value="Business">Business</option>
	        <option value="Other">Other</option>
	      </select>
	      <div style="margin-top: 10px;" *ngIf="typeOfGroupError">
					<span *ngFor="let error of typeOfGroupError">
						{{ error }}
					</span>
				</div>
	    </div>


			<!-- Description -->
			<div class="form-group">
				<label>Description</label>
				<input type="text" #description>
				<div style="margin-top: 10px;" *ngIf="descriptionError">
					<span *ngFor="let error of descriptionError">
						{{ error }}
					</span>
				</div>
			</div>

			<button type="submit">Submit</button>
		</form>	

	</div>


	<div *ngIf="inGroup==true">
		<app-group-message [group]="group" [username]="username"></app-group-message>
	</div>

</div>


