<div class="detail" *ngIf="group">

  <h2>"{{ group.title }}"</h2>
  <h3> By {{group.creator}} </h3>
  <br>
	<div> Created: {{group.timeCreated | date }}</div>
	<div> Size Goal: {{ group.sizeOfGroup }}</div>
	<h4 (click)="seeMembers()" id="memButton"> {{group.members.length}} Members (Show)</h4>
	<div *ngIf="showMembers">
		<div class="members" *ngFor="let mem of group.members">
			<div> {{mem}}</div>
		</div>		
	</div>


	<p > Description: {{group.description}}</p>
	<div class="context">
	  <button (click)="addToGroup()">Join group</button>
	</div>

	<app-group-message [group]="group" [username]="username"></app-group-message>


</div>



