{% extends "findafriend/base.html" %}

{% block content %}

    <style>
	body{
	background-color: lightblue;
	}
	</style>
	
	<h2>Sign up</h2>
	<form method="post">
		{% csrf_token %}
		<!--{{ form.as_p }}-->
		
		<div class="Info">
			<p>Username requires 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
			<p>Password must contain at least 8 characters, and cannot be entirely numeric or commonly used.</p>
		</div>
		
		<div class="UserName">
			{{ form.username.errors }}
			<label for="{{ form.username.label_tab }}"><pre>Username:</pre></label>
			{{ form.username }}
		</div>
		
		<div class="Password1">
			{{ form.password1.errors }}
			<label for="{{ form.password1.label_tab }}"><pre>Password:</pre></label>
			{{ form.password1 }}
		</div>
		
		<div class="Password2">
			{{ form.password2.errors }}
			<label for="{{ form.password2.label_tab }}"><pre>Confirm Password:</pre></label>
			{{ form.password2 }}
		</div>
		
		<button type="submit">Sign up</button>
	</form>
{% endblock %}
