<div *ngIf="group">
	<div id= "messenger">
		<div class="messages" *ngFor="let msg of messages">
			<div class="msg">
				{{msg.messageContent}} from {{msg.sender}} to {{msg.recipient}}
				<!--<div class="msgSender">from {{msg.sender}}</div>
				<div class="msgRecipient">to {{msg.recipient}}</div>
				<div class="msgContent">{{msg.messageContent}}</div>
				<br>-->
			</div>
		</div>
		<div id="newMessage">
			<!-- Not sure how to send data back to group-message.component.ts -->
			<form id="chatform"  name="chatContent">
				<input id="textbox" type="text" #textbox ng-model="name"/>
				<button (click)="sendMsg()">Send Message</button>	
			</form>
			<div id="chatmsg">Send the message to your group!</div>
				
		</div>
	</div>

</div>
