#chatBox{
	margin: 2em;
	padding: 5px;
	border: 3px solid midnightblue;
	border-radius: 20px;
}

#chatButton{
	margin-top: 20px;
}

#historyBox{
	padding: 5px;
	margin: 5px;
	border: 2px solid black;
	overflow-y: scroll;
	overflow-x: hidden;
	min-height: 60px;
	max-width: 500px;
	max-height: 300px;
	text-align: center;
	border-radius: 20px;	
}

.messages{
	max-width: 500px;
	margin: 5px -1em;
}


.messages:nth-child(2n){
	background: rgba(224, 30, 127, 0.1);
}
.messages:nth-child(2n+1){
	background: rgba(63, 127, 191, 0.1);
}

#sendBox{
	margin-top: 20px;
}
