<div *ngIf="group">
	<div id= "messenger">
		<button (click)="showChat()">Let's Chat</button>
		<div id="newMessage" *ngIf="showSelected">

			<div class="messages" *ngFor="let msg of messages">
				<div class="msg">
					{{msg.messageContent}} from {{msg.sender}} to {{msg.recipient}}
				</div>
			</div>
			<form id="chatform"  name="chatContent">
				<input id="textbox" type="text" #textbox ng-model="name"/>
				<button (click)="sendMsg()">Send Message</button>	
			</form>
			<div id="chatmsg">Send the message to your group!</div>
				
		</div>
	</div>

</div>
