.container {
	width: 50%; 
	margin-left: auto; 
	margin-right: auto;
	float: left;
}

.group-title {
	height: 30px;
	padding-top: 10px;
	margin-bottom: 0px;
	background-color: #939393;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.group-title-sport {
	height: 30px;
	padding-top: 10px;
	margin-bottom: 0px;
	background-color: #ffff66;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.group-title-academic {
	height: 30px;
	padding-top: 10px;
	margin-bottom: 0px;
	background-color: #ff6666;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.group-title-business {
	height: 30px;
	padding-top: 10px;
	margin-bottom: 0px;
	background-color: #6666ff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.group-title-other {
	height: 30px;
	padding-top: 10px;
	margin-bottom: 0px;
	background-color: #939393;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.group-content {
	background-color: #f6f6f6;
	border-radius: 15px;
}


.group-meta {
	height: 30px;
	background-color: #d9d9d9;
	padding-top: 5px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.metas {
	float: left; 
	margin: 0 20px 0 0;
	font-size: 15px; 
}

.group-title, .group-description, .group-meta {
	padding-left: 10px;
}

h2,div{
	text-align: center;
}

#left: {
	float: left;
	width: 50%;
}

#right: {
	float: right;
	width: 50%;
}