
<div class="container">
	<h2>My Groups</h2>

	<div>
		<div class="search">
			<input #box (keyup)="onKey(box.value)" type="text" class="searchTerm" placeholder="What group are you into?" id="searchInput">
 		</div>
	</div>

	<div class="group" *ngFor="let group of displayGroups"
		[class.selected] = "group === selectedGroup"
		(click)=onSelect(group)>
		<div class="group-content">
			<h3 class="group-title">{{group.title}}</h3>
			<div class="group-meta">
				<div class="metas">Created on {{group.timeCreated | date }}</div>
				<div class="metas">by {{group.creator}}</div>
			</div>
		</div>
	</div>
</div>

<div id="right">
	<app-group-detail [group]="selectedGroup"></app-group-detail>
</div>


<!--<ul class="groups" *ngFor="let group of groups">
  <li>
  	{{group.title}}
  </li>
  <li>
  	{{group.creator}}
  </li>
  <li>
  	{{group.sizeOfGroup}}
  </li>
  <li>
  	{{group.description}}
  </li>
  <li>
  	{{group.timeCreated | date }}
  </li>
</ul>-->