<div class="container">
	<h2>Groups</h2>
	<div>
		<div class="search">
			<input #box (keyup)="onKey(box.value)" type="text" class="searchTerm" placeholder="What are you into?" id="searchInput">
 		</div>
	</div>

	<div class="group" *ngFor="let group of displayGroups"
		[class.selected] = "group === selectedGroup"
		(click)=onSelect(group)>
		<div class="group-content" >
			<h3 class="group-title-sport" *ngIf="group.typeOfGroup == 'Sport'">{{group.title}}</h3>
			<h3 class="group-title-academic" *ngIf="group.typeOfGroup == 'Academic'">{{group.title}}</h3>
			<h3 class="group-title-business" *ngIf="group.typeOfGroup == 'Business'">{{group.title}}</h3>
			<h3 class="group-title-other" *ngIf="group.typeOfGroup == 'Other'">{{group.title}}</h3>
			<div class="group-meta">
				<div class="metas">Created on {{group.timeCreated | date }}</div>
				<div class="metas">by {{group.creator}}</div>
			</div>
		</div>
	</div>
</div>


<div id="right" ngif="selectedGroup">
	<app-group-detail [group]="selectedGroup" [username]="username" (groupDeleted)="removefromList($event)"></app-group-detail>
</div>
