
<div class="container">
	<h2>Groups</h2>
	<div>
		<div class="search">
			<input #box (keyup)="onKey(box.value)" type="text" class="searchTerm" placeholder="What group are you into?" id="searchInput">
 		</div>
	</div>

	<div class="group" *ngFor="let group of displayGroups"
		[class.selected] = "group === selectedGroup"
		(click)=onSelect(group)>
		<div class="group-content" >
<!-- 		<div *ngIf="group.typeOfGroup == 'Sport'" class="group-content-Sport" >
		<div *ngIf="group.typeOfGroup == 'Academic'" class="group-content-Academic" >
		<div *ngIf="group.typeOfGroup == 'Business'" class="group-content-Business" >
		<div *ngIf="group.typeOfGroup == 'Other'" class="group-content-Other" > -->
			<h3 class="group-title-sport" *ngIf="group.typeOfGroup == 'Sport'">{{group.title}}</h3>
			<h3 class="group-title-academic" *ngIf="group.typeOfGroup == 'Academic'">{{group.title}}</h3>
			<h3 class="group-title-business" *ngIf="group.typeOfGroup == 'Business'">{{group.title}}</h3>
			<h3 class="group-title-other" *ngIf="group.typeOfGroup == 'Other'">{{group.title}}</h3>
			<div class="group-meta">
				<div class="metas">Created on {{group.timeCreated | date }}</div>
				<div class="metas">by {{group.creator}}</div>
			</div>
		</div>
	</div>
</div>


<div id="right" ngif="selectedGroup">
	<app-group-detail  [inGroup]="inGroup" [group]="selectedGroup" [username]="username" (groupDeleted)="removefromList($event)"></app-group-detail>
</div>


<!--<ul class="groups" *ngFor="let group of groups">
  <li>
  	{{group.title}}
  </li>
  <li>
  	{{group.creator}}
  </li>
  <li>
  	{{group.sizeOfGroup}}
  </li>
  <li>
  	{{group.description}}
  </li>
  <li>
  	{{group.timeCreated | date }}
  </li>
</ul>-->
