<div class="nav">
	<ul>
		<li><img class="profile-pic" src="assets/img/{{ picture }}" alt="{{ username }}" style="display: inline-block; float=left; margin-top: 5px; border-radius: 50px;" width="50"></li>
		<li><a (click) ="showUsers()">User Profile</a></li>
		<li><a (click)="showGroups()" (click)="yes = 0">View Groups</a></li>
		<li><a (click)="createGroups()" (click)="yes = 0">Create Groups</a></li>
		<li style="float:right"><a style="cursor: pointer" (click)="logout()" routerLink="/login">Log out</a></li>
	</ul>
</div>
<app-groups *ngIf="groupsView" [username]="username"> </app-groups>
<app-create-group *ngIf="creategroupsView" [username]="username"> </app-create-group>


<div class = "container"  *ngIf="usersView">
	<div *ngIf="yes == 0" class = "container1">
		  <h1 class = "title">{{ userProfile.username }}</h1>
			<img class="profile-pic" src="assets/img/{{ picture }}" alt="{{ username }}" width="200">
			<div class = "elements">
					<p>Email: {{ userProfile.email }}</p>
					<p>First name: {{ userProfile.profile[this.userProfile.profile.length-1].first_name }}</p>
					<p>Last name: {{ userProfile.profile[this.userProfile.profile.length-1].last_name }}</p>
					<p>University: {{ userProfile.profile[this.userProfile.profile.length-1].university }}</p>
					<p>Hometown: {{ userProfile.profile[this.userProfile.profile.length-1].hometown }}</p>
			</div>
			<a href="#" (click)="yes = 1" style="color:GRAY">update</a>
			<p class="btn" (click)="deleteUser()" routerLink="/login">Delete User</p>
	</div>
	<div *ngIf="yes == 1" class = "container2">
		<h1 class = "title">Update Profile</h1>
			<form>
				<div class="form-group">
				<br>
					<label>First Name</label>
					<br>
					<input type="text" value="{{ userProfile.profile[this.userProfile.profile.length-1].first_name }}" #first_name>
				</div>
				<br>

				<div class="form-group">
					<label>Last Name</label>
					<br>
					<input type="text" value="{{ userProfile.profile[this.userProfile.profile.length-1].last_name }}" #last_name>
				</div>
				<br>

				<div class="form-group">
					<label class="form-label">Hometown</label>
					<br>
					<input type="text" value="{{ userProfile.profile[this.userProfile.profile.length-1].hometown }}" #hometown>

				</div>
				<br>
				<div class="form-group">
					<label class="form-label">University</label>
					<br>
					<input type="text" value="{{ userProfile.profile[this.userProfile.profile.length-1].university }}" #university>

				</div>
				<div class="form-group">

		      <p> Profile Picture</p>
					<label>
		  				<input type="radio" name="picture-num" value="0" checked *ngIf="num == 0" cli (click)="num = 0">
		  				<input type="radio" name="picture-num" value="0" *ngIf="num != 0" cli (click)="num = 0">
		  				<img src="assets/img/myAvatar.png" style="width:100px;height:100px">
					</label>
					<label>
		  				<input type="radio" name="picture-num" value="0"  checked *ngIf="num == 1" cli (click)="num = 1">
		  				<input type="radio" name="picture-num" value="0" *ngIf="num != 1" cli (click)="num = 1">
		  				<img src="assets/img/myAvatar(1).png" style="width:100px;height:100px">
					</label>
					<label>
		  				<input type="radio" name="picture-num" value="0"  checked *ngIf="num == 2" cli (click)="num = 2">
		  				<input type="radio" name="picture-num" value="0" *ngIf="num != 2" cli (click)="num = 2">
		  				<img src="assets/img/myAvatar(2).png" style="width:100px;height:100px">
					</label>
					<br>
					<label>
		  				<input type="radio" name="picture-num" value="0"  checked *ngIf="num == 3" cli (click)="num = 3">
		  				<input type="radio" name="picture-num" value="0" *ngIf="num != 3" cli (click)="num = 3">
		  				<img src="assets/img/myAvatar(3).png" style="width:100px;height:100px">
					</label>
					<label>
		  				<input type="radio" name="picture-num" value="0"  checked *ngIf="num == 4" cli (click)="num = 4">
		  				<input type="radio" name="picture-num" value="0" *ngIf="num != 4" cli (click)="num = 4">
		  				<img src="assets/img/myAvatar(4).png" style="width:100px;height:100px">
					</label>
					<label>
		  				<input type="radio" name="picture-num" value="0"  checked *ngIf="num == 5" cli (click)="num = 5">
		  				<input type="radio" name="picture-num" value="0" *ngIf="num != 5" cli (click)="num = 5">
		  				<img src="assets/img/myAvatar(5).png" style="width:100px;height:100px">
					</label>
				</div>
				<br>
				<button class="btn" type="submit" (click)="yes = 0" (click)="updateProfile($event, first_name.value, last_name.value, hometown.value, university.value, picture)">Submit</button>
				
			</form>
	</div>
</div>
