<div class="container">

  <form (submit)="createGroup($event, title.value, sizeOfGroup.value, typeOfGroup.value, description.value)">
    <!-- title -->
		<div class="form-group">
			<label>Title</label>
			<input type="text" #title>
			<p style="color: #636c72; margin: auto;"><small>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small></p>
      <div style="margin-top: 10px;" *ngIf="titleError">
				<span *ngFor="let error of titleError">
					{{ error }}
				</span>
			</div>
		</div>


		<!-- Size of group -->
		<div class="form-group">
			<label>Size of Group</label>
		  <select name="size_of_group" #sizeOfGroup>
        <option value="Under 5">Under 5</option>
        <option value="Under 20">Under 20</option>
        <option value="Under 50">Under 50</option>
        <option value="More than 50">More than 50</option>
      </select>
      <div style="margin-top: 10px;" *ngIf="sizeOfGroupError">
				<span *ngFor="let error of sizeOfGroupError">
					{{ error }}
				</span>
			</div>
    </div>


    <!-- Type of group -->
    <div class="form-group">
			<label>Type of Group</label>
		  <select name="type_of_group" #typeOfGroup>
        <option value="Sport">Sport</option>
        <option value="Academic">Academic</option>
        <option value="Business">Business</option>
        <option value="Other">Other</option>
      </select>
      <div style="margin-top: 10px;" *ngIf="typeOfGroupError">
				<span *ngFor="let error of typeOfGroupError">
					{{ error }}
				</span>
			</div>
    </div>


		<!-- Description -->
		<div class="form-group">
			<label>Description</label>
			<input type="text" #description>
			<div style="margin-top: 10px;" *ngIf="descriptionError">
				<span *ngFor="let error of descriptionError">
					{{ error }}
				</span>
			</div>
		</div>


    <button type="submit">Submit</button>

	</form>

<div>
