<div class="container">

  <h1 class = "title">Create Group</h1>


  <form (submit)="createGroup($event, title.value, typeOfGroup.value, description.value)">
    <!-- title -->
		<div class="form-group">
		  <br>
			<label>Title</label>
			<br>
			<input type="text" #title>
			<p style="color: #636c72; margin: auto;"><small>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small></p>
		</div>


    <!-- Type of group -->
    <div class="form-group">
      <br>
			<label>Type of Group</label>
			<br>
		  <select name="type_of_group" #typeOfGroup>
        <option value="Sport">Sport</option>
        <option value="Academic">Academic</option>
        <option value="Business">Business</option>
        <option value="Other">Other</option>
      </select>
    </div>


		<!-- Description -->
		<div class="form-group">
		  <br>
			<label>Description</label>
			<br>
			<input type="text" #description>
		</div>

    <div class="submit">
    <br>
    <button type="submit">Submit</button>
    </div>
	</form>

<div>
